<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExecutorFrontend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ExecutorFrontend.Properties.Settings>
            <setting name="command" serializeAs="String">
                <value />
            </setting>
            <setting name="workDir" serializeAs="String">
                <value />
            </setting>
            <setting name="instanceCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="nightModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nightModeStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nightModeEnd" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="nightModeCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="showWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="restartStuck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stuckTimeout" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="actionDelay" serializeAs="String">
                <value>60</value>
            </setting>
        </ExecutorFrontend.Properties.Settings>
    </userSettings>
</configuration>
